@model BarberBoss.Models.Barber
@{
    ViewBag.Title = "barberProfile";
}

<h2>barberProfile</h2>


<div>
    <h4>Barber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" style="max-width: 300px" />
            @*@Html.DisplayFor(model => model.ImagePath)*@
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit Barber", "EditBarber", new { id = Model.Id }) 
</p>


