@model BarberBoss.Models.OfferedServicesViewModel

<h2>Offered Services</h2>

<link rel="stylesheet" href="~/Content/CustomCssFiles/HomeSite.css" />

<div class="d-none d-md-block">
    
    <!-- Display Offered Services in a table for medium and larger screens -->
    <table class="table" id="servicesTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.OfferedServices)
            {
                <tr>
                    <td>@service.Title</td>
                    <td>@service.Price</td>
                    <td>
                        <img src="@Url.Content(service.ImagePath)" alt="Service Picture" class="img-thumbnail" style="max-width:250px;" />
                    </td>
                    <td>
                        <button data-service-id="@service.Id" class="btn btn-outline-danger js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-md-none">
    <!-- Display Offered Services as cards for smaller screens -->
    <div class="row">
        @foreach (var service in Model.OfferedServices)
        {
            <div class="col-12 mt-3">
                <div class="card">
                    @if (!string.IsNullOrEmpty(service.ImagePath))
                    {
                        <img src="@Url.Content(service.ImagePath)" class="card-img-top img-fluid custom-image" alt="Service Image">
                    }
                    <div class="card-body custom-background text-center">
                        <h5 class="card-title text-white font-weight-bold">@service.Title</h5>
                        <p class="card-text custom-text-gray">Duration: @service.Duration Minutes</p>
                        <p class="card-text custom-text-gray"><strong>Price:</strong> @service.Price DEN</p>
                        <!-- Delete Button -->
                        <button data-service-id="@service.Id" class="btn btn-outline-danger js-delete">Delete</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Add a new service -->
<h3>Add New Service</h3>
@using (Html.BeginForm("AddServiceToBarber", "Barbers"))
{
    @Html.DropDownListFor(model => model.SelectedServiceId, new SelectList(Model.AvailableServices, "Id", "Title"), "Select a service")
    <button type="submit">Add Service</button>
}



@section scripts{

    <script>
        $(document).ready(function () {
            var table = $("#servicesTable").DataTable();
            $(".js-delete").on("click", function () {
                var button = $(this);
                var serviceId = button.attr("data-service-id");

                bootbox.confirm("Are you sure you want to delete this service?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Barbers/DeleteService/" + serviceId,
                            method: "POST",
                            dataType: "json",
                            success: function (data) {
                                if (data.canDelete) {
                                    table.row(button.parents("tr")).remove().draw();
                                    location.reload();
                                } else {
                                    // Display a message or handle the case where the service cannot be deleted
                                    alert("Cannot delete the service. There are appointments associated with it.");
                                }
                            },
                            error: function (err) {
                                console.log(err);
                                // Handle the error as needed
                            }
                        });
                    }
                });
            });
        });
    </script>

}
